<nav id="navbar" class="navbar">
    <div class="navbar-content">
        <div class="navbar-left">
            <button id="navbar-toggle" class="navbar-toggle">
                <span class="material-symbols-outlined">menu</span>
            </button>
        </div>
        <div class="navbar-center">
            <a href="#/dashboard">
                <img src="src/assets/icons/ifood-red-logo-mini.svg" alt="Logo" class="navbar-logo" />
            </a>
        </div>
        <div class="navbar-right">
            <span class="material-symbols-outlined navbar-icon">notifications_active</span>
            <span class="material-symbols-outlined navbar-icon">account_circle</span>
        </div>
    </div>
</nav>
