<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Navbar</title>
        <link rel="stylesheet" href="navbar.css" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    </head>
    <body>
        <nav id="navbar" class="navbar">
            <div class="navbar-content">
                <div class="navbar-left">
                    <button id="navbar-toggle" class="navbar-toggle">
                        <span class="material-symbols-outlined">menu</span>
                    </button>
                </div>
                <div class="navbar-center">
                    <img src="src/assets/icons/ifood-red-logo-mini.svg" alt="Logo" class="navbar-logo" />
                </div>
                <div class="navbar-right">
                    <span class="material-symbols-outlined navbar-icon">notifications_active</span>
                    <span class="material-symbols-outlined navbar-icon">account_circle</span>
                </div>
            </div>
        </nav>
    </body>
</html>
