<!-- payout_table.html -->
<div id="payout-table-container" class="payout-table-container">
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Meus Repasses</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Início</th>
                            <th>Fim</th>
                            <th>Valor de vendas</th>
                            <th>Valor do repasse</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="status-icon status-agendado"></span>Agendado</td>
                            <td>01/01/2024</td>
                            <td>08/01/2024</td>
                            <td>R$ 10.000,00</td>
                            <td>R$ 9.000,00</td>
                            <td><i class="bi bi-chevron-right"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
