<div class="row bg-block-gray table-header pt-3 rounded-top">
    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Data</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>
    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Pedido</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>
    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Canal</p>
            <span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
    </div>
    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Valor do Pedido</p>
            <span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
    </div>
    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold color-gray fs-6">Frete</p>
            <span class="material-symbols-outlined">arrow_drop_down</span>
        </div>
    </div>
    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Tx. de Serviço</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>

    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Incentivo Promo.</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>

    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Base para Cálculo</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>

    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Comissão iFood</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>

    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Tx. de Transação</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>

    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Outros Lanç.</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>

    <div class="col">
        <div class="d-flex content-align-center">
            <p class="fw-bold fs-6 color-gray">Valor Líquido</p>
            <span class="material-symbols-outlined color-gray">arrow_drop_down</span>
        </div>
    </div>
</div>

<div id="table-entries"></div>
<div class="d-flex justify-content-between align-items-center mt-3">
    <p id="pagination-label" class="mb-0 fw-bold fs-6 color-gray"></p>
    <nav>
        <ul class="pagination mb-0">
            <li id="prev-page" class="page-item">
                <span class="material-symbols-outlined page-link cursor-pointer" onclick="prevPage()">chevron_left</span>
            </li>
            <li id="next-page" class="page-item">
                <span class="material-symbols-outlined page-link cursor-pointer" onclick="nextPage()">chevron_right</span>
            </li>
        </ul>
    </nav>
</div>
