* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-column: 40% 60%;
    grid-row: 20% 20% 60%;
  
    width: 60vw;
    height: 90vh;
  
    border: solid 1px #d6d6d6;
    border-radius: 15px;
  }
  
  .container-ext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  .header {
    grid-column: 1/3;
    grid-row: 1/2;
  
    height: 10vh;
    padding: 15px;
  }
  
  .header-int {
    display: flex;
    justify-content: space-between;
  }
  
  .title-permissions {
    font-size: 24px;
    font-weight: 600;
    color: #555555;
  }
  
  .close-permissions {
    a {
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      color: #555555;
      margin-right: 20px;
    }
  }
  
  .sub-header {
    grid-column: 1/3;
    grid-row: 2/3;
  
    position: relative;
  
    display: flex;
    flex-direction: row;
  
    height: 9vh;
    padding: 5px;
  }
  
  .sub-sub-header {
    margin-left: 30px;
    font-size: 10px;
  }
  
  .profile {
    margin-bottom: 10px;
    color: #5f6368;
    font-size: 16px;
    font-weight: 600;
  }
  
  .settings {
    margin-bottom: 20px;
    color: #5f6368;
    font-size: 16px;
    font-weight: 600;
  }
  
  .photo-profile-title {
    font-size: 12px;
    font-weight: 500;
  }
  
  .photo-profile {
    img {
      width: 10vw;
      height: 15vh;
    }
  }
  
  .enclousure-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button-new-user,
  .button-accounts {
    margin: 0px 20px 0px 20px;
  
    a {
      cursor: pointer;
      color: #d6d6d6;
      text-decoration: none;
    }
  }
  
  .sub-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 2px; /* Altura da borda */
    width: 90%; /* Largura da borda (ajuste conforme necessário) */
    background-color: #d6d6d6; /* Cor da borda */
  }
  
  .main-permissions {
    grid-column: 1/2;
    grid-row: 3/4;
  
    height: 72vh;
  
    position: relative;
    padding: 15px;
  
    display: flex;
    flex-direction: column;
  }
  
  .input {
    width: 30vw;
    height: 6vh;
    border: solid 2px var(--bs-gray-300);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .input-permission {
    width: 40vw;
    height: 6vh;
    border: solid 2px var(--bs-gray-300);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 12px;
    font-weight: 600;
  }
  
  .token {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .main-permissions::after {
    content: "";
    position: absolute;
    top: 3%;
    right: 0;
    height: 93%; /* Altura da borda */
    width: 2px; /* Largura da borda (ajuste conforme necessário) */
    background-color: #d6d6d6; /* Cor da borda */
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .aside-permissions {
    grid-column: 2/3;
    grid-row: 3/4;
  
    height: 72vh;
    padding: 15px;
  }
  
  .button-create {
    width: 130px;
    height: 35px;
    background-color: #ff3030;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-left: 45vw;
  
    a {
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      color: #fff;
      font-weight: 400;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      display: grid;
      grid-column: 100%;
      grid-row: 15% 15% 20% 20%;
    }
  
    .header {
      grid-column: 1/1;
      grid-row: 1/2;
  
      height: 10vh;
      padding: 15px;
    }
  
    .sub-header {
      grid-column: 1/1;
      grid-row: 2/3;
  
      height: 5vh;
      padding: 15px;
    }
  
    .main-permissions {
      grid-column: 1/1;
      grid-row: 3/4;
  
      height: 75vh;
  
      padding: 15px;
    }
  
    .aside-permissions {
      grid-column: 1/1;
      grid-row: 4/5;
  
      height: 75vh;
      padding: 15px;
    }
  }