* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-column: 100%;
    grid-row: 20% 20% 60%;

    height: 90vh;

    border: solid 1px #d6d6d6;
    border-radius: 15px;
}

.container-ext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.header {
    grid-column: 1/1;
    grid-row: 1/2;

    height: 10vh;
    width: 85vw;

    padding: 15px;
}

.header-int {
    display: flex;
    justify-content: space-between;
}

.title-permissions {
    font-size: 24px;
    font-weight: 600;
    color: #555555;
    margin-left: 10px;
}

.close-permissions {
    a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        color: #555555;
        margin-right: 55px;
    }
}

.button-new-user {
    width: 40px;
    height: 20px;
    background-color: aqua;
}

.sub-header {
    grid-column: 1/3;
    grid-row: 2/3;

    position: relative;

    display: flex;
    flex-direction: row;

    height: 9vh;
    padding: 5px;

    margin-left: 30px;
    font-size: 10px;
}

.sub-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1px;
    height: 2px; /* Altura da borda */
    width: 95%; /* Largura da borda (ajuste conforme necessário) */
    background-color: #d6d6d6; /* Cor da borda */
}

.setting-users {
    grid-column: 1/1;
    grid-row: 3/4;

    height: 73vh;
    width: 80vw;

    padding: 10px;
}

.profile {
    margin-bottom: 10px;
    color: #5f6368;
    font-size: 16px;
    font-weight: 600;
}

.image-person {
    width: 25px;
    height: 25px;
}

.e-mail {
    width: 1vw;
    height: 2vh;
}

.calendar-1 {
    width: 1vw;
    height: 2vh;
}

.function-adm {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: var(--bs-danger-bg-subtle);
    border-radius: 8px;
    font-size: 14px;
    width: 10vw;
    height: 5vh;
}

.function-operator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: var(--bs-info-bg-subtle);
    border-radius: 8px;
    font-size: 14px;
    width: 10vw;
    height: 5vh;
}

.function-an {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bs-warning);
    background-color: var(--bs-warning-border-subtle);
    border-radius: 8px;
    font-size: 14px;
    width: 10vw;
    height: 5vh;
}

.more {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-column: 100%;
        grid-row: 15% 15% 20% 20%;
    }
}
