<div id="sidebar" class="sidebar text-white">
    <div class="nav-section">
        <div id="sidebar-logo-container">
            <a href="#/dashboard" class="d-flex align-items-center justify-content-center text-white text-decoration-none w-100">
                <img src="/src/assets/icons/ifinances-logo-menu.svg" alt="iFood Logo" />
            </a>
        </div>
        <div id="status-container" class="d-flex align-items-center justify-content-center status-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <circle cx="7.82747" cy="8.00008" r="7.37288" fill="#85f17c" />
            </svg>
            <span class="button-status-app ms-2">Aberto</span>
        </div>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#/dashboard" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Painel de Controle">
                    <span class="material-symbols-outlined sidebar-icon">dashboard</span>
                    <span class="sidebar-item-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/settlements" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Gerencie seus repasses">
                    <span class="material-symbols-outlined sidebar-icon">receipt</span>
                    <span class="sidebar-item-text">Repasses</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/entries" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Registre lançamentos financeiros">
                    <span class="material-symbols-outlined sidebar-icon">payments</span>
                    <span class="sidebar-item-text">Lançamentos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/performance" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Acompanhe o desempenho">
                    <span class="material-symbols-outlined sidebar-icon">monitoring</span>
                    <span class="sidebar-item-text">Desempenho</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/operation-health" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Verifique a saúde operacional">
                    <span class="material-symbols-outlined sidebar-icon">psychiatry</span>
                    <span class="sidebar-item-text">Saúde Operacional</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/goals-and-projections" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Defina metas e projeções">
                    <span class="material-symbols-outlined sidebar-icon">target</span>
                    <span class="sidebar-item-text">Metas e Projeções</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#notifications-modal" data-tooltip="Veja as notificações">
                    <span class="material-symbols-outlined sidebar-icon">notifications_active</span>
                    <span class="sidebar-item-text">Notificações</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <div class="footer-nav">
            <a href="#" class="d-flex align-items-center sidebar-item footer-item text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#help-modal" data-tooltip="Acessar ajuda e suporte">
                <span class="material-symbols-outlined sidebar-icon footer-icon">help</span>
                <span class="sidebar-item-text footer-item-text">Chamados e Ajuda</span>
            </a>
        </div>
        <div id="profile-section" class="profile-section"></div>
    </div>
</div>
