<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Colapsada</title>
    <!-- Import do CSS -->
    <link rel="stylesheet" href="/src/app/components/sidebar/sidebar_collapsed.css"> <!-- Corrigido o caminho -->
</head>
<body>
    <div id="sidebar-collapsed-container">
        <div id="sidebar-collapsed" class="sidebar text-white">
            <!-- Botão para expandir -->
            <div class="arrow-button arrow-open">
                <span>→</span> <!-- Ícone da seta para expandir -->
            </div>

            <div id="sidebar-logo-container">
                <img src="/src/assets/icons/ifood-white-logo-mini.svg" />
            </div>

            <!-- Ícones de navegação compactados -->
            <div class="nav-section">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#/dashboard" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Dashboard">
                            <span class="material-symbols-outlined sidebar-icon">dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/settlements" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Repasses">
                            <span class="material-symbols-outlined sidebar-icon">receipt</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/entries" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Lançamentos">
                            <span class="material-symbols-outlined sidebar-icon">payments</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/performance" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Desempenho">
                            <span class="material-symbols-outlined sidebar-icon">monitoring</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/operation-health" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Saúde Operacional">
                            <span class="material-symbols-outlined sidebar-icon">psychiatry</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/goals-and-projections" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Metas e Projeções">
                            <span class="material-symbols-outlined sidebar-icon">target</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#/notifications" class="d-flex align-items-center sidebar-item text-white text-decoration-none" data-tooltip="Notificações">
                            <span class="material-symbols-outlined sidebar-icon">notifications_active</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
