.rating-chart {
    height: 186px;
}

@media (max-width: 1601px) {
    .dash-subtitle {
        font-size: 0.8rem;
    }
}

@media (min-width: 1600px) {
    .custom-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
