.settlement-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5rem;
}

.quote {
    position: relative;
}

.quote::before {
    content: "“";
    top: 4rem;
    left: 0rem;
    position: absolute;
    color: black;
    opacity: 0.25;
    font-size: 128px;
    line-height: 0;
}

.quote::after {
    content: "”";
    bottom: 0rem;
    position: absolute;
    right: 1rem;
    color: black;
    opacity: 0.25;
    font-size: 128px;
    line-height: 0;
}

.healthy-food {
    width: 100%;
}

@media (max-width: 480px) {
    .healthy-food {
        width: 100%;
    }
}
