@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-red: #ea1d2c;
    --primary-red-gradient: linear-gradient(174deg, #ea1d2c 0.11%, #cf0c1a 99.89%);
    --primary-yellow-gradient: linear-gradient(164deg, #ffbf44 0%, #f3ac23 97.77%);
    --primary-pink-gradient: linear-gradient(164deg, #fe8bc1 0%, #ef62a4 97.78%);
    --primary-green-gradient: linear-gradient(164deg, #85f17c 0%, rgba(70, 205, 59, 0.95) 97.78%);
    --light-red: #e93d3d;
    --heading-color-dark: #555;
    --subtitle-color-light: #929292;
    --text-black: #000;
    --text-white: #fff;
    --neutral-gray: #848484;
    --background-light-gray: #f7f7f7;
    --background-block-gray: #fafafa;
    --menu-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.25);
    --accent-light-blue: #4ec6ec;
    --accent-dark-blue: #1890ff;
}
